services:
  frontend-ligninsorbent:
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        ENV_FILE: .env.ligninsorbent
        STRAPI_SSG_URL: http://host.docker.internal:1337
      extra_hosts:
        - "host.docker.internal:host-gateway"
    env_file:
      - .env
      - .env.ligninsorbent
    environment:
      NODE_ENV: production
    ports:
      - "3000:3000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - lignin

  frontend-lignin:
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        ENV_FILE: .env.lignin
        STRAPI_SSG_URL: http://host.docker.internal:1337
      extra_hosts:
        - "host.docker.internal:host-gateway"
    env_file:
      - .env
      - .env.lignin
    environment:
      NODE_ENV: production
      PORT: 3001
    ports:
      - "3001:3001"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - lignin

networks:
  lignin:
    external: true
