.container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
  background-color: var(--background);
  transition: 300ms ease-in-out;
  transform: translateY(-100%);
  will-change: opacity, transform;
  opacity: 0;
  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}
.linkLogo {
  display: flex;
  width: auto;
  
  height: 50px;
  line-height: 0;
  color: var(--foreground);
  overflow: hidden;
  
}
.innerLogo {
  align-self: center;
  height: 80px;
  width: auto;
  svg {
    max-width: 129px;
    max-height: 80px;
  }
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.burger {
  // position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  // top: 20px;
  // right: 20px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  z-index: 10;
  svg {
    color: var(--foreground);
  }
}

.navMenu {
  display: flex;
  flex-direction: column;
  order: 0;
  white-space: nowrap;
}
.navItem {
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--foreground);
  list-style: none;
  
}
.navLink {
  position: relative;
  cursor: pointer;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  gap: 8px;
  // max-width: 178px;
  
  svg {
    max-height: 40px;
    width: auto;
  }
}
.social {
  // flex: 0 1 0;
  font-size: 0;
  line-height: 1;
  &_ordered {
    order: -1;
  }
}

@media (min-width: 641px) {
  .linkLogo {
    height: 64px;
  }
}
@media (min-width: 961px) {
  .container {
    position: static;
    // top: 0;
    // right: 0;
    // left: 0;
    overflow-y: hidden;
    opacity: 1;
    transform: translateY(0);
    transform: translateZ(0);
    height: auto;
    background-color: transparent;
    // margin-bottom: -218px;
    &_sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: var(--background);
      
    }

  }
  .placeholder {
    display: flex;
    height: 214px;
  }
  .navMenu {
    flex-direction: row;
    gap: 24px;
    order: 1;
    letter-spacing: -0.2px;
  }
  .navLink {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 0);
      z-index: 1;
      transform: translateY(-4px);
      will-change: transform;
      transition: 0.3s ease;    
  }
  &:hover::after {
    background-color: rgba(0, 0, 0, 1);
    transform: translateY(0);
  }
  }
  .contacts {
    position: absolute;
    top: 52px;
    margin: 0 auto;
    // max-width: 100%;
    transform: translateX(112%);
    z-index: 10;
    flex-wrap: nowrap;
  }
  .social {
    &_ordered {
      order: 0;
    }
  }
  .navPanel {
    display: none;
  }
}
