.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% center;
  
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 70vh;
  padding: 80px 20px;
  overflow: hidden;
  gap: 60px;
  background-color: var(--background);
  &_mobileBgOff {
    margin-top: 0;
  }
}

.holder {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  max-width: 960px;
  height: auto;
  overflow: hidden;
  gap: 16px;
}

.imgWrapper {
  grid-column: span 1;
  grid-row: 2 / 3;
  overflow: hidden;
}
.imgBox {
  position: relative;
  overflow: hidden;
}
.title {
  grid-column: span 1;
  grid-row: span 1;
  font-size: 26px;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
}
.contentBox {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  justify-content: space-evenly;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
}
.hrLong {
  display: none;
  height: 15px;
  border: 0 solid transparent;
  border-bottom: 3px solid #000000;
}

.upper {
  text-transform: uppercase;
}
@media (min-width: 481px) {
  .holder {
    gap: 32px;
  }
  .title {
    font-size: 28px;
  }
  .contentBox {
    font-size: 16px;
  }
}
@media (min-width: 769px) {
  .holder {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    gap: 16px
  }
  .imgWrapper {
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
  }
  .title {
    align-self: start;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .hrLong {
    display: block;
  }
  .contentBox {
    grid-column: 2 / span 1;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 961px) {
  .wrapper {
    &_mobileBgOff {
    margin-top: auto;
  }
  }
}
@media (min-width: 1181px) {
  .holder {
    max-width: 1180px;
  }
}
