.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 28px;
  line-height: 1.5;
  margin: 20px 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.img {

  aspect-ratio: 1;
}

.upper {
  text-transform: uppercase;
}
