.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 16px;
}
.paragraph {
  font-size: 14px;
  line-height: 1.2;
}
.header {
  line-height: 1.5;
  
  &-1 {
    font-size: 32px;
  }
  &-2 {
    font-size: 28px;
  }
  &-3 {
    font-size: 24px;
  }
  &-4 {
    font-size: 20px;
  }
}
