.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: calc(33.33% - 5.33px);
  max-width: calc(33.33% - 5.33px);
  overflow: hidden;
}

.imgBox {
  position: relative;
  max-width: 110px;
  aspect-ratio: 1;
  width: 100%;
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.caption {
  max-width: 96px;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--foreground);
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 641px) {
  .card {
    flex-basis: calc(20% - 12.80px);
    max-width: calc(20% - 12.80px);
  }
  .imgBox {
    max-width: 160px;
  }
}

@media (min-width: 961px) {
  .caption {
    max-width: 116px;
    font-size: 12px;
  }
  .card {
    flex-basis: auto;
    max-width: 220px;
  }
  .imgBox {
    max-width: 200px;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 1201px) {
  .card {
    gap: 32px;
  }
  .caption {
    max-width: 136px;
    font-size: 14px;
  }
}
