.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  max-width: calc(33.33% - 32px);
}

.caption {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--foreground);
    text-transform: uppercase;
    text-align: center;
  }
