.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  overflow: hidden;
  >p {
    margin-bottom: 8px;
  }
}
.widgets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 30px 20px;
  list-style: none;
}
.widgetItem {
  flex-shrink: 1;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: flex-start;
  gap: 16px;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.title {
  margin-bottom: 8px;
  padding: 8px 0;
}
.aboutUsList {
  margin-bottom: 8px;
  >li {
    list-style: disc;
  }
}
.subtitle {
  padding: 12px 0;
  font-weight: 400;
  text-align: center;
}
.center {
  text-align: center;
}
.upper {
  text-transform: uppercase;
}
@media (min-width: 481px) {
  
}

@media (min-width: 641px) {
  .widgets {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    >.widgetItem:last-child {
    flex: 1 1 auto;
    >a {
      aspect-ratio: 8 / 3;
    }
  }
  }
  .widgetItem {
    flex-grow: 0;
    flex-basis: calc(50% - 4px);
    overflow: hidden;
  }
  .features {
    padding: 0 16px;
  }
}
@media (min-width: 769px) {
  .widgets {
    gap: 16px;
  }
  .widgetItem {
    flex-basis: calc(50% - 8px);
  }
}
@media (min-width: 961px) {
  .widgets {
    >.widgetItem:last-child {
    flex: 1 1 auto;
    >a {
      aspect-ratio: 4 / 3;
    }
  }
  }
  .widgetItem {
    flex-grow: 1;
    flex-basis: auto;
    max-width: calc(33.33% - 10.66px);
  }
}
