.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.title {
  margin: 100px 0 50px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}
.upper {
  text-transform: uppercase;
}

.articleList {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  list-style: none;
  gap: 48px;
  padding: 0 20px;
  
}
.articleItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: hidden;
  // background-color: #1ce1e1
}
.articleLink {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  height: 100%;
  // background-color: #c2ee31
}

.imgBox {
  position: relative;
  aspect-ratio: 3 / 2;
  // flex: 3 1 0;
  z-index: 0;
  overflow: hidden;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  z-index: 10;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  // flex: 5 1 0;
}

.articleTitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  order: 1;
  letter-spacing: -0.2px;
}
.articleDate {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--text-date);
  margin-bottom: 8px;
}

@media (min-width: 641px) {
  
  
  .title {
    font-size: 36px;
    font-weight: 600;

  }
  .articleItem {
    gap: 16px;
  }
  .articleLink {
    flex-direction: row;
    gap: 0;
  }
  .imgBox, .textBox {
    flex: 1 1 0;
  }
  .textBox {
    padding: 0 20px;
  }
  .articleDate {
    margin-top: 8px;
  }
}

@media (min-width: 960px) {
  .title {
    margin: 50px 0;
    font-size: 46px;
    font-weight: 600;
  }
  .articleList {
    gap: 36px;
  }
  .articleItem {
    flex-direction: column;
    // flex-basis: calc(25%);
    flex: 0 2 calc(33.33% - 24px);
    

  }
  .articleLink {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .imgBox {
    aspect-ratio: 3 / 3;
  }
  .textBox {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .articleList {
    gap: 32px;
  }
  .articleItem {
    flex: 0 2 calc(25% - 24px);
  }
}
